
.row {
  max-width: 144rem;
  margin: 0 auto;
 }
.heading-tertiary{
  margin-right:50%;
    color: white;
    font-size: 3rem;
    font-weight: 700;
   


}
.skill-box__text{
    color: white;
    font-size: 1.4rem;
 
    
}
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
     
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem)/4); }
  .row .col-2-of-4 {
    width: calc(1*((100% - 3*6rem)/2) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*6rem) / 4) + 2*6rem); }
    .skill-box {
     margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .2s; }
  .skill-box__icon {
 
   
    font-size: 6rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #1e2a6d, #1c3eff);
    -webkit-background-clip: text;
    color: transparent; 
    transition: all .2s;
float: right;}
  .skill-box:hover{
    cursor: pointer;
    transform: translateY(-1.5rem) scale(1.03); }
.skill-box-1{
    background-image: radial-gradient(#9099c7,rgb(19, 167, 19));
}
.skill-box-2{
    background-image: radial-gradient(#e6c5d0,yellow);
}
.skill-box-3{
    background-image: radial-gradient(#8b9db9,rgb(212, 0, 255));
}
.skill-box-4{
    background-image: radial-gradient(#b98b9a,red);
}