<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Web_Dat_Ve_Xe_Khach</display-name>
  <welcome-file-list>
    <welcome-file>getData</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InfoTripTicket</display-name>
    <servlet-name>InfoTripTicket</servlet-name>
    <servlet-class>controller.InfoTripTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoTripTicket</servlet-name>
    <url-pattern>/InfoTripTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDAO</display-name>
    <servlet-name>AdminDAO</servlet-name>
    <servlet-class>DAO.AdminDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDAO</servlet-name>
    <url-pattern>/AdminDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginManagerServlet</display-name>
    <servlet-name>CheckLoginManagerServlet</servlet-name>
    <servlet-class>controller.CheckLoginManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginManagerServlet</servlet-name>
    <url-pattern>/CheckLoginManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripManagementServlet</display-name>
    <servlet-name>TripManagementServlet</servlet-name>
    <servlet-class>controller.TripManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripManagementServlet</servlet-name>
    <url-pattern>/TripManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketManagementServlet</display-name>
    <servlet-name>TicketManagementServlet</servlet-name>
    <servlet-class>controller.TicketManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketManagementServlet</servlet-name>
    <url-pattern>/TicketManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTripServlet</display-name>
    <servlet-name>AddTripServlet</servlet-name>
    <servlet-class>controller.AddTripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTripServlet</servlet-name>
    <url-pattern>/AddTripServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTripServlet</display-name>
    <servlet-name>EditTripServlet</servlet-name>
    <servlet-class>controller.EditTripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTripServlet</servlet-name>
    <url-pattern>/EditTripServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTrip</display-name>
    <servlet-name>DeleteTrip</servlet-name>
    <servlet-class>controller.DeleteTrip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTrip</servlet-name>
    <url-pattern>/DeleteTrip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchListTripsServlet</display-name>
    <servlet-name>SearchListTripsServlet</servlet-name>
    <servlet-class>controller.SearchListTripsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchListTripsServlet</servlet-name>
    <url-pattern>/SearchListTripsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statics</display-name>
    <servlet-name>Statics</servlet-name>
    <servlet-class>controller.ADMIN.Statics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statics</servlet-name>
    <url-pattern>/Statics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountCustomer</display-name>
    <servlet-name>AccountCustomer</servlet-name>
    <servlet-class>controller.ADMIN.AccountCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCustomer</servlet-name>
    <url-pattern>/AccountCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountManager</display-name>
    <servlet-name>AccountManager</servlet-name>
    <servlet-class>controller.ADMIN.AccountManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountManager</servlet-name>
    <url-pattern>/AccountManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHome</display-name>
    <servlet-name>AdminHome</servlet-name>
    <servlet-class>controller.ADMIN.AdminHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHome</servlet-name>
    <url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCustomer</display-name>
    <servlet-name>CreateCustomer</servlet-name>
    <servlet-class>controller.ADMIN.CreateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomer</servlet-name>
    <url-pattern>/CreateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateManager</display-name>
    <servlet-name>CreateManager</servlet-name>
    <servlet-class>controller.ADMIN.CreateManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateManager</servlet-name>
    <url-pattern>/CreateManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomer</display-name>
    <servlet-name>DeleteCustomer</servlet-name>
    <servlet-class>controller.ADMIN.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomer</servlet-name>
    <url-pattern>/DeleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteManager</display-name>
    <servlet-name>DeleteManager</servlet-name>
    <servlet-class>controller.ADMIN.DeleteManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteManager</servlet-name>
    <url-pattern>/DeleteManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomer</display-name>
    <servlet-name>EditCustomer</servlet-name>
    <servlet-class>controller.ADMIN.EditCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomer</servlet-name>
    <url-pattern>/EditCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditManager</display-name>
    <servlet-name>EditManager</servlet-name>
    <servlet-class>controller.ADMIN.EditManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditManager</servlet-name>
    <url-pattern>/EditManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GarageManagementServlet</display-name>
    <servlet-name>GarageManagementServlet</servlet-name>
    <servlet-class>controller.ADMIN.GarageManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GarageManagementServlet</servlet-name>
    <url-pattern>/GarageManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GarageAcctiveServlet</display-name>
    <servlet-name>GarageAcctiveServlet</servlet-name>
    <servlet-class>controller.ADMIN.GarageAcctiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GarageAcctiveServlet</servlet-name>
    <url-pattern>/GarageAcctiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editGarageServlet</display-name>
    <servlet-name>editGarageServlet</servlet-name>
    <servlet-class>controller.ADMIN.editGarageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editGarageServlet</servlet-name>
    <url-pattern>/editGarageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddManagementGarageServlet</display-name>
    <servlet-name>AddManagementGarageServlet</servlet-name>
    <servlet-class>controller.ADMIN.AddManagementGarageServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SearchTicket</display-name>
    <servlet-name>SearchTicket</servlet-name>
    <servlet-class>controller.SearchTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTicket</servlet-name>
    <url-pattern>/SearchTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCustomer</display-name>
    <servlet-name>SearchCustomer</servlet-name>
    <servlet-class>controller.ADMIN.SearchCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCustomer</servlet-name>
    <url-pattern>/SearchCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchManager</display-name>
    <servlet-name>SearchManager</servlet-name>
    <servlet-class>controller.ADMIN.SearchManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchManager</servlet-name>
    <url-pattern>/SearchManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GarageDesistServlet</display-name>
    <servlet-name>GarageDesistServlet</servlet-name>
    <servlet-class>controller.ADMIN.GarageDesistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GarageDesistServlet</servlet-name>
    <url-pattern>/GarageDesistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetGarageDesistServlet</display-name>
    <servlet-name>SetGarageDesistServlet</servlet-name>
    <servlet-class>controller.ADMIN.SetGarageDesistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetGarageDesistServlet</servlet-name>
    <url-pattern>/SetGarageDesistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditGarageDesistServlet</display-name>
    <servlet-name>EditGarageDesistServlet</servlet-name>
    <servlet-class>controller.ADMIN.EditGarageDesistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditGarageDesistServlet</servlet-name>
    <url-pattern>/EditGarageDesistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassManager</display-name>
    <servlet-name>ForgotPassManager</servlet-name>
    <servlet-class>controller.ForgotPassManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassManager</servlet-name>
    <url-pattern>/ForgotPassManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchGarage</display-name>
    <servlet-name>searchGarage</servlet-name>
    <servlet-class>controller.ADMIN.searchGarage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchGarage</servlet-name>
    <url-pattern>/searchGarage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchListGarageDisist</display-name>
    <servlet-name>SearchListGarageDisist</servlet-name>
    <servlet-class>controller.ADMIN.SearchListGarageDisist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchListGarageDisist</servlet-name>
    <url-pattern>/SearchListGarageDisist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGarageServlet</display-name>
    <servlet-name>CreateGarageServlet</servlet-name>
    <servlet-class>controller.ADMIN.CreateGarageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGarageServlet</servlet-name>
    <url-pattern>/CreateGarageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homePageManager</display-name>
    <servlet-name>homePageManager</servlet-name>
    <servlet-class>controller.homePageManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homePageManager</servlet-name>
    <url-pattern>/homePageManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportTicket</display-name>
    <servlet-name>ExportTicket</servlet-name>
    <servlet-class>controller.ExportTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportTicket</servlet-name>
    <url-pattern>/ExportTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTicket</display-name>
    <servlet-name>DeleteTicket</servlet-name>
    <servlet-class>controller.DeleteTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTicket</servlet-name>
    <url-pattern>/DeleteTicket</url-pattern>
  </servlet-mapping>
</web-app>